For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

Has the network latency gone up since we switched internet service providers?

$H_0$: Network latency is same before and after switching to ISP\
$H_a$: Network latency has gone up after switching to ISP

- True Positive:
    - low p value
    - reject $H_0$
    - Network latency before the switch 0.5 ms
    - Network latency after the switch 2 ms
 
 
- False Positive:
    - low p value
    - reject $H_0$
    - significantly higher latency time after switch
    - Testing before and after was done with different hardware and different time of day

- True Negative:
    - higher p value
    - accept $H_0$
    - Network latency before the switch 2 ms
    - Network latency after the switch 0.5 ms
     
- False Negative
    - higher p value
    - accept $H_0$
    - network latency has not changed much
    - two tests (before and after) have other variables which affect latency measurement

Is the website redesign any good?

$H_0$: The website redesign does not result in increased customer satisfaction\
$H_a$: The website redesign results in increased customer satisfaction

- True Positive:
    - low p value
    - reject  $H_0$
    - the customer satisfaction rating before website redesign 6/10
    - the customer satisfaction rating after website redsign 9/10

- False Positive: 
    - low p value
    - reject  $H_0$
    - The customer satisfaction rating increased after website redesign
    - The rating questionnaire changed before and after website redesign
    
- False Negative:
    - high p value
    - accept $H_0$
    - survey shows customer satisfaction rating has not changed
    - survey had differenr scales/questions before and after the redesign
- True Negative:
    - higher p value
    - accept $H_0$
    - survey shows customer satisfaction rating has not changed
    - the customer satisfaction rating before website redesign 7.5/10
    - the customer satisfaction rating after website redsign 7/10

Is our television ad driving more sales?

$H_0$: TV ad does not drive more sales\
$H_a$: TV ad does drive more sales

- True Positive:
    - low p value
    - reject  $H_0$
    - average monthly sales before TV ads is 1 million
    - average monthly sales after TV ads is 2.2 million

- False Positive: 
    - low p value
    - reject  $H_0$
    - sales increased after TV ads
    - New products were introduced along with TV ads
    
- False Negative:
    - high p value
    - accept $H_0$
    - sales did not change after TV ads
    - Economy is in recession resulting in lower demand
    
- True Negative:
    - higher p value
    - accept $H_0$
    - sales before TV ads is 1 million
    - sales after TV ads is 0.9 million

# t-test exercise

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [8]:

from math import sqrt

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

from scipy import stats
from pydataset import data

$H_0$: average time to sell homes for its two offices is same\
$H_a$ average time to sell homes for its two offices is different

In [2]:
alpha = 0.05

xbar1 = 90
xbar2 = 100

n1 = 40
n2 = 50

s1 = 15
s2 = 20

degf = (n1 + n2) - 2 # n - number of categories

s_p = sqrt(
    ((n1 - 1) * s1**2 + (n2 - 1) * s2**2)
    /
    (n1 + n2 - 2)
)

t = (xbar1 - xbar2) / (s_p * sqrt(1 / n1 + 1 / n2))

In [3]:
t

-2.6252287036468456

In [5]:
p = stats.t(degf).sf(t) * 2
p

1.9897901475507607

Since p value is great than 0.05, we do not reject the null hypothesis meaning there is no difference in average time to seel for two offices

# Load the mpg dataset and use it to answer the following questions:

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
Are compact cars more fuel-efficient than the average car?
Do manual cars get better gas mileage than automatic cars?

In [9]:
mpg = data('mpg')

In [28]:
mpg['average_mpg'] = mpg[['cty', 'hwy']].mean(axis= 1)
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

$H_0$: Cars from both model years have same mpg\
$H_a$: Cars from both model years have different mpg

In [55]:
fe_2008 = mpg[mpg.year == 2008].average_mpg
fe_1999 = mpg[mpg.year == 1999].average_mpg

In [56]:
stats.ttest_ind(fe_1999, fe_2008)

Ttest_indResult(statistic=0.21960177245940962, pvalue=0.8263744040323578)

Since p value is >0.05, we fail to reject the null hypothesis meaning their fuel economy is no different

# Are compact cars more fuel-efficient than the average car?

$H_0$: compact cars have same fuel efficiency as a average car\
$H_a$: compact cars are more fuel efficient than average car

In [48]:
mpg = mpg.rename(columns ={'class' : 'type'})

In [49]:
x = mpg[mpg.type == 'compact'].average_mpg
mu = mpg.average_mpg.mean()
t_stat, p = stats.ttest_1samp(x, mu)

print(f't = {t_stat:.3}')
print(f'p = {p:.3}')

t = 7.9
p = 4.2e-10

Since p value is <0.05, we reject the null hypothesis meaning their fuel economy is not same

# Do manual cars get better gas mileage than automatic cars?

$H_0$: manual car get same mileage as automatic cars

In [50]:
fe_auto = mpg[mpg.trans.str.contains('auto')].average_mpg
fe_manual = mpg[mpg.trans.str.contains('manual')].average_mpg

In [51]:
stats.ttest_ind(fe_auto, fe_manual)

Ttest_indResult(statistic=-4.593437735750014, pvalue=7.154374401145683e-06)

Since p value is <0.05, we reject the null hypothesis meaning  fuel economy for manual is better than automatic cars

In [72]:
df = pd.read_csv('exam_scores.csv')
df.head(1000)

,exam_score,hours_studied,study_strategy,handedness,coffee_consumed,hours_slept
0,100.591011,9.126291,flashcards,left,0,11
1,95.637086,9.677438,flashcards,left,1,10
2,53.200296,4.550207,NaN,right,5,6
3,63.934268,6.487848,flashcards,right,4,7
4,51.186370,6.720959,flashcards,right,5,6
5,99.628593,5.887577,NaN,left,1,10
6,10.427946,1.275759,NaN,left,9,2
7,65.711877,4.660530,NaN,right,4,7
8,66.423415,10.040814,flashcards,right,4,7
9,0.000000,0.194810,NaN,left,10,1
10,73.164623,5.887551,NaN,right,3,8
11,103.623596,8.123731,flashcards,right,0,11
12,31.056751,5.097867,NaN,right,7,4
13,38.595674,5.931877,flashcards,right,7,4
14,39.708798,2.348290,NaN,left,7,4
15,32.352314,5.015984,NaN,left,7,4
16,91.209319,7.794935,flashcards,left,1,10
17,68.572847,8.204969,flashcards,right,4,7
18,67.574374,8.478692,flashcards,left,4,7
19,71.993313,8.500183,flashcards,left,3,8
20,40.235324,4.280227,flashcards,left,6,5
21,35.743657,3.197463,NaN,right,7,4
22,60.637961,4.591031,NaN,right,4,7
23,33.688874,3.967320,NaN,right,7,4
24,51.464085,6.154276,NaN,left,5,6
25,48.317365,3.613879,NaN,left,6,5
26,57.042348,5.941447,flashcards,right,5,6
27,22.400132,2.656407,NaN,left,8,3
28,100.448921,7.970301,flashcards,right,0,11
29,71.537602,8.675529,flashcards,right,3,8
30,59.098398,5.773753,flashcards,right,5,6
31,7.350580,1.801087,NaN,right,10,1
32,28.300445,3.749855,NaN,right,8,3
33,0.000000,-1.828194,NaN,right,10,1
34,1.697189,0.802329,NaN,right,10,1
35,86.743254,4.461289,flashcards,left,2,9
36,73.058047,6.604429,flashcards,left,3,8
37,78.890913,8.887383,flashcards,right,3,8
38,72.472284,7.090633,flashcards,left,3,8
39,57.614771,4.301864,NaN,right,5,6

Compare exam scores for folks with high coffee consumption vs low coffee consumption

In [79]:
high_c_score = df[df.coffee_consumed > 5][df.exam_score > 0].exam_score

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [80]:
low_c_score = df[df.coffee_consumed < 5][df.exam_score > 0].exam_score

/usr/local/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [81]:
stats.ttest_ind(low_c_score, high_c_score)

Ttest_indResult(statistic=9.894476880809066, pvalue=5.854112077333943e-11)

In [82]:
high_c_score.mean()

28.45192688887976

In [83]:
low_c_score.mean()

79.57122642510747